<template lang="pug">
  .all 收藏列表
</template>

<script>
import api from './../api/index'
export default {
  name: 'CollectList',
  data() {
    return {
      dataSource: {}
    }
  },
  created() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
@import '../sass/index'

</style>