<template>
  <div>Edit</div>
</template>

<script>
import api from './../api/index'
export default {
  name: 'Edit',
  data() {
    return {
      dataSource: {}
    }
  },
  created() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>