<template lang="pug">
  .all 首页
</template>

<script>
import api from './../api/index'
export default {
  name: 'HomeContent',
  data() {
    return {
      dataSource: {}
    }
  },
  created() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
@import '../sass/config'
@import '../sass/base/base'
.all 
  width: 100%
  background: #999
</style>