<template >
  <div class="contentAll">
    <div class="leftTab">
      <router-link class="tabCell" to="/Seaction/List">
        <div class="tabCellColor"></div>
        <img class="tabCellImg" src="./../assets/tab-icon-list.svg">
        <div class="tabCellName">List</div>
      </router-link>
      <router-link class="tabCell" to="/Seaction/Edit">
        <div class="tabCellColor"></div>
        <img class="tabCellImg" src="./../assets/tab-icon-edit.svg">
        <div class="tabCellName">Edit</div>
      </router-link>
    </div>
    <router-view class="rightView"></router-view>
  </div>
  
</template>

<script>
import api from 'api/index'
export default {
  name: 'Seaction',
  data() {
    return {
      
    }
  },
  created() {
    var data = {
      page: 0,
      tab: '',
      limit: 20
    }
    api.getTopicsData('topics', data).then((res) => {
      this.dataSource = res
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.contentAll {
  width: 100%;
  height: 100vh;
  background: rgb(248, 248, 246);
  display: flex;
  justify-content: space-between;
  padding-top: 78px;
}
.leftTab {
  width: 120px;
  height: 100%;
  background: #fff;
  padding-top: 50px;
}
.tabCell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.rightView {
  width: calc(100% - 120px);
  height: 100%;

}
.tabCellColor {
  width: 5px;
  height: 36px;
  background: rgb(246, 206, 67);
}
.tabCellImg {
  height: 18px;
  background: #fff;
  padding: 0 8px;
}
.tabCellName {
  height: 36px;
  width: 100%;
  line-height: 36px;
  background: #fff;
}
</style>
