<template>
  <div class="headerView">
    <img class="logoImg" src="./../../assets/icon-logo.svg">
    <div class="loginBtn">Log out</div>
  </div>
</template>

<script>
import api from 'api/index'
export default {
  name: 'Header',
  data() {
    return {
      dataSource: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.headerView {
  width: 100%;
  height: 78px;
  background: rgb(76, 76, 76);
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.logoImg {
  height: 36px;
}
.loginBtn {
  color: #fff;
  font-size: 20px;
}
</style>