<template>
  <div id="app">
    <Header></Header>
    <router-view></router-view>
  </div>
    
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="sass">
@import './sass/config'
@import './sass/base/base'
body
  background: #fff
  width: 100%
  height: 100vh
</style>
